<p style="color: green"><%= notice %></p>

<h1>Carriers</h1>

<%= search_form_for @q do|f| %>
<%= f.label "Search Carrier" %>

<%= f.search_field :name_or_address_or_main_contact %>

<%= f.submit  %>

<br>
<br>

<% end %> 
               

<table class="table-dark table table-striped table-bordered table-hover">
  <thead class ="thead-dark">
     <tr>
      
      <th>Name</th>
      <th>Mc Number</th>
      <th>DOT Number</th>
      <th>Address</th>
      <th>Main Contact</th>
      <th> Contact Number </th>
      <th colspan="2"></th>
    </tr>
  
  </thead>
  <tbody>
    <% @carriers.each do |carrier| %>
    <tr>
    <td><%=carrier.name %></td>
    <td><%=carrier.mc_number %></td>
    <td><%=carrier.dot_number %></td>
    <td><%=carrier.address %></td>
    <td><%=carrier.main_contact %></td>
    <td><%=carrier.contact_number %></td>
    <td> <%= link_to "Details", carrier %> </td>

   </tr>
  <% end %>

  </tbody>
</table>

<br>

 <%= link_to "New carrier", new_carrier_path, class:"btn btn-dark" %>
 <!--button type ="button" class="btn btn-secondary">Secondary </button-->
 <p>


                
